[data-md-color-scheme="default"] {
--md-code-bg-color: #ffffff;
--pygments-bp: #5B269A;
--pygments-c: #177500;
--pygments-c1: #177500;
--pygments-ch: #177500;
--pygments-cm: #177500;
--pygments-cp: #633820;
--pygments-cpf: #177500;
--pygments-cs: #177500;
--pygments-dl: #C41A16;
--pygments-err: #000000;
--pygments-fm: #000000;
--pygments-il: #1C01CE;
--pygments-k: #A90D91;
--pygments-kc: #A90D91;
--pygments-kd: #A90D91;
--pygments-kn: #A90D91;
--pygments-kp: #A90D91;
--pygments-kr: #A90D91;
--pygments-kt: #A90D91;
--pygments-l: #1C01CE;
--pygments-ld: #1C01CE;
--pygments-m: #1C01CE;
--pygments-mb: #1C01CE;
--pygments-mf: #1C01CE;
--pygments-mh: #1C01CE;
--pygments-mi: #1C01CE;
--pygments-mo: #1C01CE;
--pygments-n: #000000;
--pygments-na: #836C28;
--pygments-nb: #A90D91;
--pygments-nc: #3F6E75;
--pygments-nd: #000000;
--pygments-ne: #000000;
--pygments-nf: #000000;
--pygments-ni: #000000;
--pygments-nl: #000000;
--pygments-nn: #000000;
--pygments-no: #000000;
--pygments-nt: #000000;
--pygments-nv: #000000;
--pygments-nx: #000000;
--pygments-o: #000000;
--pygments-ow: #000000;
--pygments-py: #000000;
--pygments-s: #C41A16;
--pygments-s1: #C41A16;
--pygments-s2: #C41A16;
--pygments-sa: #C41A16;
--pygments-sb: #C41A16;
--pygments-sc: #2300CE;
--pygments-sd: #C41A16;
--pygments-se: #C41A16;
--pygments-sh: #C41A16;
--pygments-si: #C41A16;
--pygments-sr: #C41A16;
--pygments-ss: #C41A16;
--pygments-sx: #C41A16;
--pygments-vc: #000000;
--pygments-vg: #000000;
--pygments-vi: #000000;
--pygments-vm: #000000;
}

[data-md-color-scheme="slate"] {
--md-code-bg-color: #1d2331;
--pygments-bp: #5CCFE6;
--pygments-c: #7e8aa1;
--pygments-c1: #7e8aa1;
--pygments-ch: #f88f7f;
--pygments-cm: #7e8aa1;
--pygments-cp: #FFAD66;
--pygments-cpf: #7e8aa1;
--pygments-cs: #7e8aa1;
--pygments-dl: #D5FF80;
--pygments-err: #f88f7f;
--pygments-esc: #d4d2c8;
--pygments-fm: #FFD173;
--pygments-g: #d4d2c8;
--pygments-gd: #f88f7f;
--pygments-ge: #d4d2c8;
--pygments-ges: #d4d2c8;
--pygments-gh: #d4d2c8;
--pygments-gi: #6ad4af;
--pygments-go: #7e8aa1;
--pygments-gp: #d4d2c8;
--pygments-gr: #f88f7f;
--pygments-gs: #d4d2c8;
--pygments-gt: #f88f7f;
--pygments-gu: #d4d2c8;
--pygments-il: #DFBFFF;
--pygments-k: #FFAD66;
--pygments-kc: #FFAD66;
--pygments-kd: #FFAD66;
--pygments-kn: #FFAD66;
--pygments-kp: #FFAD66;
--pygments-kr: #FFAD66;
--pygments-kt: #73D0FF;
--pygments-l: #D5FF80;
--pygments-ld: #D5FF80;
--pygments-m: #DFBFFF;
--pygments-mb: #DFBFFF;
--pygments-mf: #DFBFFF;
--pygments-mh: #DFBFFF;
--pygments-mi: #DFBFFF;
--pygments-mo: #DFBFFF;
--pygments-n: #d4d2c8;
--pygments-na: #FFD173;
--pygments-nb: #FFD173;
--pygments-nc: #73D0FF;
--pygments-nd: #7e8aa1;
--pygments-ne: #73D0FF;
--pygments-nf: #FFD173;
--pygments-ni: #95E6CB;
--pygments-nl: #d4d2c8;
--pygments-nn: #d4d2c8;
--pygments-no: #FFD173;
--pygments-nt: #5CCFE6;
--pygments-nv: #d4d2c8;
--pygments-nx: #d4d2c8;
--pygments-o: #FFAD66;
--pygments-ow: #FFAD66;
--pygments-p: #d4d2c8;
--pygments-pm: #d4d2c8;
--pygments-py: #FFD173;
--pygments-s: #D5FF80;
--pygments-s1: #D5FF80;
--pygments-s2: #D5FF80;
--pygments-sa: #F29E74;
--pygments-sb: #D5FF80;
--pygments-sc: #D5FF80;
--pygments-sd: #7e8aa1;
--pygments-se: #95E6CB;
--pygments-sh: #D5FF80;
--pygments-si: #95E6CB;
--pygments-sr: #95E6CB;
--pygments-ss: #DFBFFF;
--pygments-sx: #95E6CB;
--pygments-vc: #d4d2c8;
--pygments-vg: #d4d2c8;
--pygments-vi: #d4d2c8;
--pygments-vm: #d4d2c8;
--pygments-w: #d4d2c8;
--pygments-x: #d4d2c8;
}

.highlight .bp { color: var(--pygments-bp); }
.highlight .c { color: var(--pygments-c); }
.highlight .c1 { color: var(--pygments-c1); }
.highlight .ch { color: var(--pygments-ch); }
.highlight .cm { color: var(--pygments-cm); }
.highlight .cp { color: var(--pygments-cp); }
.highlight .cpf { color: var(--pygments-cpf); }
.highlight .cs { color: var(--pygments-cs); }
.highlight .dl { color: var(--pygments-dl); }
.highlight .err { color: var(--pygments-err); }
.highlight .esc { color: var(--pygments-esc); }
.highlight .fm { color: var(--pygments-fm); }
.highlight .g { color: var(--pygments-g); }
.highlight .gd { color: var(--pygments-gd); }
.highlight .ge { color: var(--pygments-ge); }
.highlight .ges { color: var(--pygments-ges); }
.highlight .gh { color: var(--pygments-gh); }
.highlight .gi { color: var(--pygments-gi); }
.highlight .go { color: var(--pygments-go); }
.highlight .gp { color: var(--pygments-gp); }
.highlight .gr { color: var(--pygments-gr); }
.highlight .gs { color: var(--pygments-gs); }
.highlight .gt { color: var(--pygments-gt); }
.highlight .gu { color: var(--pygments-gu); }
.highlight .il { color: var(--pygments-il); }
.highlight .k { color: var(--pygments-k); }
.highlight .kc { color: var(--pygments-kc); }
.highlight .kd { color: var(--pygments-kd); }
.highlight .kn { color: var(--pygments-kn); }
.highlight .kp { color: var(--pygments-kp); }
.highlight .kr { color: var(--pygments-kr); }
.highlight .kt { color: var(--pygments-kt); }
.highlight .l { color: var(--pygments-l); }
.highlight .ld { color: var(--pygments-ld); }
.highlight .m { color: var(--pygments-m); }
.highlight .mb { color: var(--pygments-mb); }
.highlight .mf { color: var(--pygments-mf); }
.highlight .mh { color: var(--pygments-mh); }
.highlight .mi { color: var(--pygments-mi); }
.highlight .mo { color: var(--pygments-mo); }
.highlight .n { color: var(--pygments-n); }
.highlight .na { color: var(--pygments-na); }
.highlight .nb { color: var(--pygments-nb); }
.highlight .nc { color: var(--pygments-nc); }
.highlight .nd { color: var(--pygments-nd); }
.highlight .ne { color: var(--pygments-ne); }
.highlight .nf { color: var(--pygments-nf); }
.highlight .ni { color: var(--pygments-ni); }
.highlight .nl { color: var(--pygments-nl); }
.highlight .nn { color: var(--pygments-nn); }
.highlight .no { color: var(--pygments-no); }
.highlight .nt { color: var(--pygments-nt); }
.highlight .nv { color: var(--pygments-nv); }
.highlight .nx { color: var(--pygments-nx); }
.highlight .o { color: var(--pygments-o); }
.highlight .ow { color: var(--pygments-ow); }
.highlight .p { color: var(--pygments-p); }
.highlight .pm { color: var(--pygments-pm); }
.highlight .py { color: var(--pygments-py); }
.highlight .s { color: var(--pygments-s); }
.highlight .s1 { color: var(--pygments-s1); }
.highlight .s2 { color: var(--pygments-s2); }
.highlight .sa { color: var(--pygments-sa); }
.highlight .sb { color: var(--pygments-sb); }
.highlight .sc { color: var(--pygments-sc); }
.highlight .sd { color: var(--pygments-sd); }
.highlight .se { color: var(--pygments-se); }
.highlight .sh { color: var(--pygments-sh); }
.highlight .si { color: var(--pygments-si); }
.highlight .sr { color: var(--pygments-sr); }
.highlight .ss { color: var(--pygments-ss); }
.highlight .sx { color: var(--pygments-sx); }
.highlight .vc { color: var(--pygments-vc); }
.highlight .vg { color: var(--pygments-vg); }
.highlight .vi { color: var(--pygments-vi); }
.highlight .vm { color: var(--pygments-vm); }
.highlight .w { color: var(--pygments-w); }
.highlight .x { color: var(--pygments-x); }